<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /basketballnba/staging/2064/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /basketballnba/staging/2064/index.php [L]
</IfModule>
