.appearance_page_revija #wpbody-content > .error, .appearance_page_revija #wpbody-content > .settings-error, .appearance_page_revija #wpbody-content > .woocommerce-message, .appearance_page_revija #wpbody-content > .message, .appearance_page_revija #wpbody-content > .updated {
    position: relative;
    margin-top: 15px;
    margin-left: 0 !important;
}
