
.stm-admin-message {
    margin: 25px 0 0;
    background-color: #d85b5b;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
	display: inline-block;
    padding: 15px;
}
.stm-admin-wrap.about-wrap #stm_item_registration {
    max-width: 650px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.stm-admin-wrap.about-wrap #stm_item_registration .stm_item_registration_input {
    position: relative;
    width: 100%;
    margin-right: 15px;
}
.stm-admin-wrap.about-wrap #stm_item_registration .dashicons-post-status {
    font-size: 30px;
    margin: 7px 20px 0 0;
    color: #23282d;
}
.stm-admin-wrap.about-wrap #stm_item_registration .dashicons {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 36px;
    margin: 5px 30px 0 0;
}
.stm-admin-wrap.about-wrap #stm_item_registration input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px 70px 10px 15px;
    border: 0;
    box-shadow: none !important;
    background-color: #ccc;
}
.stm-admin-wrap.about-wrap #stm_item_registration p.submit {
    margin: 0;
    padding: 0;
}
.stm-admin-wrap.about-wrap .button-large {
    min-width: 130px;
    padding: 15px 20px !important;
    height: 40px !important;
    line-height: 9px !important;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: none !important;
}
